In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('F:\pql_final\pqlv5.xlsx')

In [4]:
df

,organization_id,added_checkin,added_comment,added_objective,average_progress_detail,billing_invoice_current,billing_invoice_paid,billing_plan_changed,browse_menu,cancellation_request_form_submitted,...,closed_quick_check_in,quick_search_closed_with_esc_key,clicked_recently_visited_page_in_quick_search,count_of_all_org_activity_within_24hrs,sign_up_timestamp,First_user_user_id,number_of_users_within_lyf_time,PAID_CUSTOMER,users_within_24_hrs,count_of_first_user_activity_within_24hrs
0,3706,2,0,19,0,1,0,2,0,0,...,0,0,0,553,2019-11-29 12:10:40.785,53008,19,1,6,5
1,4323,85,1,163,0,0,1,2,0,0,...,0,0,0,1517,2019-11-29 12:17:07.242,52989,38,1,2,18
2,497,3,7,4,0,0,0,1,0,0,...,0,0,0,50,2019-11-29 12:21:26.475,53010,8,0,1,2
3,2289,508,11,631,0,0,0,0,0,0,...,0,0,0,6765,2019-11-29 13:00:05.972,42854,180,1,1,4
4,5411,0,0,0,0,0,0,1,0,0,...,0,0,0,7,2019-11-29 13:10:52.227,53011,4,0,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5357,10883,0,0,0,0,0,0,1,0,0,...,0,0,0,11,2020-07-21 20:27:28.621,97377,1,0,1,11
5358,10884,0,0,0,0,0,0,1,0,0,...,0,0,0,11,2020-07-21 21:47:30.019,97384,1,0,1,11
5359,10885,0,0,1,0,0,0,1,0,0,...,0,0,0,20,2020-07-22 02:07:08.175,97393,1,0,1,20
5360,10886,0,0,0,0,0,0,1,0,0,...,0,0,0,18,2020-07-22 03:37:05.199,97395,1,0,1,18
5361,10887,0,0,0,0,0,0,1,0,0,...,0,0,0,4,2020-07-22 04:54:10.393,97397,1,0,1,4

In [6]:
pf=df[['organization_id','First_user_user_id','sign_up_timestamp','count_of_first_user_activity_within_24hrs','count_of_all_org_activity_within_24hrs','users_within_24_hrs','PAID_CUSTOMER']]

In [7]:
pf

,organization_id,First_user_user_id,sign_up_timestamp,count_of_first_user_activity_within_24hrs,count_of_all_org_activity_within_24hrs,users_within_24_hrs,PAID_CUSTOMER
0,3706,53008,2019-11-29 12:10:40.785,5,553,6,1
1,4323,52989,2019-11-29 12:17:07.242,18,1517,2,1
2,497,53010,2019-11-29 12:21:26.475,2,50,1,0
3,2289,42854,2019-11-29 13:00:05.972,4,6765,1,1
4,5411,53011,2019-11-29 13:10:52.227,7,7,1,0
...,...,...,...,...,...,...,...
5357,10883,97377,2020-07-21 20:27:28.621,11,11,1,0
5358,10884,97384,2020-07-21 21:47:30.019,11,11,1,0
5359,10885,97393,2020-07-22 02:07:08.175,20,20,1,0
5360,10886,97395,2020-07-22 03:37:05.199,18,18,1,0
5361,10887,97397,2020-07-22 04:54:10.393,4,4,1,0

In [ ]:
pf[pf['users_within_24_hrs']==1]

In [ ]:
pd.reset_option('display.max_rows',4832)

In [ ]:
pf

In [ ]:
pf.to_excel("F:\pql_final\pql_counts.xlsx")

In [ ]:
df=pd.read_excel('F:\pql_final\pql_counts.xlsx')

In [ ]:
df

In [ ]:
pf=df[['organization_id','uid','count_of_first_user_activity_within_24hrs','Total_EVENTS_COUNTS','PAID_CUSTOMER']]

In [ ]:
pf

In [ ]:
pf.describe()

In [ ]:
pf['PAID_CUSTOMER'].value_counts().plot(kind='bar')

In [ ]:
import seaborn as sns

In [ ]:
pf['Total_EVENTS_COUNTS'].value_counts().plot(kind='bar',figsize=(50,5))

In [ ]:
pf['count_of_first_user_activity_within_24hrs'].value_counts().plot(kind='bar',figsize=(50,5))

In [ ]:
sns.set(style="whitegrid")

In [ ]:
g = sns.catplot(x="PAID_CUSTOMER", y="Total_EVENTS_COUNTS",
                data=df, kind="box",
                height=7, aspect=5);
g.set(ylim=(1,400))

In [ ]:
g = sns.catplot(x="PAID_CUSTOMER", y="count_of_first_user_activity_within_24hrs",
                data=pf, kind="box",
                height=7, aspect=5);
g.set(ylim=(1,100))

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
plt.hist(df.count_of_first_user_activity_within_24hrs,bins=50)
plt.title('count_of_first_user_activity_within_24hrs')
plt.show()

In [ ]:
plt.hist(df.Total_EVENTS_COUNTS,bins=50)
plt.title('Total_EVENTS_COUNTS')
plt.show()

In [ ]:
rs=df.corr(method ='pearson') ['PAID_CUSTOMER']

In [ ]:
p=pd.DataFrame(data=rs)

In [ ]:
p

In [ ]:
paid=(df[df['PAID_CUSTOMER']==1])
unpaid=(df[df['PAID_CUSTOMER']==0])
fig,ax=plt.subplots(figsize=(8,5))
ax.scatter(paid.count_of_first_user_activity_within_24hrs,color='red',label='poisionous',alpha=0.3)
ax.scatter(unpaid.count_of_first_user_activity_within_24hrs,color='blue',label='safe',alpha=0.3)
ax.set_xticks([-500,0,500,1000,1500,2000,2500,3000,3500,4000])
ax.set_xlabel('radius')
ax.set_ylabel('weight')
ax.legend();

In [ ]:
pf

In [ ]:
user_events_1=len(pf[(pf['count_of_first_user_activity_within_24hrs']>135) & (pf['PAID_CUSTOMER']==1)])

In [ ]:
user_events_0=len(pf[(pf['count_of_first_user_activity_within_24hrs']>135) & (pf['PAID_CUSTOMER']==0)])

In [ ]:
total_events_1=len(pf[(pf['Total_EVENTS_COUNTS']>135) & (pf['PAID_CUSTOMER']==1)])

In [ ]:
total_events_0=len(pf[(pf['Total_EVENTS_COUNTS']>135) & (pf['PAID_CUSTOMER']==0)])

In [ ]:
cf_user=user_events_1/(user_events_0+user_events_1)

In [ ]:
cf_org=total_events_1/(total_events_0+total_events_1)

In [ ]:
cf_user,cf_org

In [ ]:
pf

In [8]:
pf

,organization_id,First_user_user_id,sign_up_timestamp,count_of_first_user_activity_within_24hrs,count_of_all_org_activity_within_24hrs,users_within_24_hrs,PAID_CUSTOMER
0,3706,53008,2019-11-29 12:10:40.785,5,553,6,1
1,4323,52989,2019-11-29 12:17:07.242,18,1517,2,1
2,497,53010,2019-11-29 12:21:26.475,2,50,1,0
3,2289,42854,2019-11-29 13:00:05.972,4,6765,1,1
4,5411,53011,2019-11-29 13:10:52.227,7,7,1,0
...,...,...,...,...,...,...,...
5357,10883,97377,2020-07-21 20:27:28.621,11,11,1,0
5358,10884,97384,2020-07-21 21:47:30.019,11,11,1,0
5359,10885,97393,2020-07-22 02:07:08.175,20,20,1,0
5360,10886,97395,2020-07-22 03:37:05.199,18,18,1,0
5361,10887,97397,2020-07-22 04:54:10.393,4,4,1,0